<div ng-include="'components/navbar/navbar.html'"></div>

<div class="my-samples">My Samples</div>
<ul class="nav-stacked user-samples">
  <li class="sample" ng-repeat="thing in awesomeThings | filter: { author: getCurrentUser().name }">
    <div class="sample-name">{{ thing.name }}</div>
    <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
    <br><audio class="sample-player" crossorigin="anonymous" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
  </li>
</ul>

<div class="my-samples">My Kits</div>
<ul class="nav-stacked user-samples">
  <li class="sample" ng-repeat="kit in awesomeKits | filter: { author: getCurrentUser().name }">
    <div class="sample-name">{{ kit.name }}</div>
  </li>
</ul>

<div class="container password-change">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12 password-change-form">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
