body {
  font-family: 'Work Sans', arial, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.container {
  text-align: center;
}


.thing-form {
    margin: 20px 0;
}

.hide {
  display: none;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-unit {
    color: #000000;
    padding: 0px 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-group {
  width: 100%;
}

// nav
.nav {
  text-align: center;
}

.nav-tabs {
  border-bottom: none;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  .container {
    width: 100vw;
  }
}

.navbar-text {
  margin-left: 15px;
}

.navbar-default {
  background: rgba(255,255,255,0.8);
  border: none;

  .navbar-nav > .active > a {
    background: none;
  }
  .navbar-nav > li > a {
    transition: opacity 0.2s;
  }
  .navbar-nav > li > a:hover {
    opacity: 0.5;
  }
}


// main sampler
.main-sample-holder {
  margin-top: 50px;
  padding: 0;
}
.nav-stacked {
  padding-right: 0;
  &:first {
    margin-top: -20px;
  }
  li {
    background: #E5E5E5;
    border-radius: 2px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    height: 130px;
    margin: 4px 15px;
    overflow: hidden;
    position: relative;
    width: 23.5%;

    .sample-name,
    .sample-info {
      text-align: center;
    }
    .sample-name {
      margin-top: 20px;
    }
    .gain, .filter, .stretch, .loop {
      margin-top: 30px;
    }
    .filter, .stretch, .loop {
      display: none;
    }
    .effects {
       background: #f1f1f1;
       border: 0;
       border-radius: 0;
       bottom: 40px;
       font-size: 14px;
       height: 25px;
       left: 50%;
       line-height: 1;
       margin-top: -5px;
       padding: 5px;
       position: absolute;
       text-align-last: center;
       transform: translateX(-50%);
       width: 101%;
    }
  }
  .selected {
    background: #000;
    color: #fff;
  }
  li:nth-of-type(1) {
    margin-left: 0;
  }
  li:nth-of-type(4),
  li:nth-of-type(8),
  li:nth-of-type(12),
  li:nth-of-type(16) {
    margin-right: 0;
  }
}


// sample bank
.sample-bank {
  background: transparent;
  height: 0px;
  margin-bottom: 120px;
  overflow: hidden;
  padding: 0;
  transition: height 0.2s;
  width: 0px;

  &.show-bank {
    background: #D8D8D8;
    height: 500px;
    overflow: auto;
    transition: 0.2s ease-out;
    transition-property: height, background, width;
    width: 100%;
  }
  h3 {
    text-align: center;
  }
  li {
    width: 11.1%;
    margin: 4px 6px !important;
  }
}
.author {
  visibility: hidden;
}
.file-uploader {
  margin-top: -20px;
}


// buttons
.btn-close-bank {
  float: right;
  font-size: 30px;
  margin-top: -10px;
}

.btn-choose-kit-close {
  float: right;
  font-size: 30px;
  margin-top: -10px;
}


.save-kit-button-holder,
.choose-kit-button-holder,
.bank-button-holder {
  padding: 0;
}

.choose-kit-button-holder,
.bank-button-holder {
  transition: 0.2s ease-out;
  transition-property: margin-left, width;
}

.btn-primary {
  background: #D8D8D8;
  border: none;
  border-radius: 2px;
  color: #000000;
  font-weight: 100;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  transition: color 0.2s, background 0.2s;
  width: 100%;
}

.btn-primary:hover {
    background: #AEAEAE;
    color: #fff;
}

.sample-upload-button {
  width: 100%;
  margin-bottom: 30px;
}

.btn-submit {
    display: block;
    font-size: 20px;
    height: 50px;
    margin: 30px auto;
    width: 90%;
}

.sample-bank-buttons {
  background: #D8D8D8;
  height: 57px;
  padding: 0 24px;
  .btn-add-sample {
    background: #AEAEAE;
    color: #fff;
    float: right;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 0 0;
    padding: 0;
    transition: background 0.2s ease-out, color 0.2s ease-out;
    width: 250px;
    &:hover {
      background: #E5E5E5;
      color: #000;
    }
  }
  .sample-search {
    float: left;
    height: 40px;
    margin: 10px 7px 0 0;
    width: 250px;
  }
}

// save kit
.save-kit-input {
  height: 0;
  padding: 0;
  visibility: hidden;
}

.kit-name-input {
  margin: 0 0 0 5%;
  position: absolute !important;
  top: 20px;
  width: 90% !important;
}

.kit-author-input {
  visibility: hidden;
}

.add-kit {
  margin-top: 0;
}


// choose a kit
.kit-options {
  background: transparent;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out, background 0.2s ease-out;
  .kit-options-holder {
    margin-top: 30px;
  }
}

.kit-options-open {
  background: #D8D8D8;
  height: 500px;
}

.kit-samples {
  display: inline-block;
  height: 95px;
  overflow: hidden;
  width: 220px;
  li:nth-of-type(1) {
    margin-left: 15px;
  }
  .kit-name {
    background: #E5E5E5;
    color: #000;
    display: inline-block;
    height: 75px;
    line-height: 75px;
    margin: 0 8px;
    text-align: center;
    text-decoration: none;
    width: 200px;
  }
  .sample {
    height: 0;
    visibility: hidden;
  }
}


// modals
.custom-modal {
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  height: auto;
  left: 50%;
  position: fixed;
  top: 60px;
  transform: translateX(-25vw);
  width: 50vw;
  z-index: 99999999999;
}

// footer
footer {
  background: #eee;
  border-top: none;
  bottom: 0;
  height: 50px;
  left: 0;
  padding: 0;
  position: fixed;
  width: 100%;

  // metronome
  .metronome {
    display: inline-block;
    height: 50px;
    left: 20px;
    position: absolute;
    width: 200px;
    .met-bpm {
      display: inline-block;
      margin: 13px 0 0 -20px;
      input {
        vertical-align: top;
        width: 52px;
      }
      span {
        display: inline-block;
        margin-top: 4px;
      }
    }
    .start-met {
      display: inline-block;
      left: 0;
      position: absolute;
      text-align: left;
      img {
        cursor: pointer;
        height: 40px;
        margin-top: 5px;
      }
    }
  }

  // record controls
  .recording {
    margin-left: 37%;
    text-align: left;
    width: 50%;
    div {
      display: inline-block;
    }
    .record {
      background: #00B900;
      color: #fff;
      cursor: pointer;
      height: 50px;
      line-height: 50px;
      text-align: center;
      transition: background-color 0.2s ease-out;
      width: 80px;
    }
    .stop {
      background-color: #ff0000;
      color: #fff;
      cursor: pointer;
      height: 50px;
      line-height: 50px;
      margin-left: -4px;
      text-align: center;
      width: 80px;
    }
    .record-on {
      background-color: #fff;
      color: #00B900;
    }
    audio {
      float: left;
      margin-top: 10px;
      width: 45px;
    }
    a {
      background: #868686;
      color: #fff;
      float: right;
      line-height: 50px;
      padding: 0 10px;
    }
    .record-time {
      background: #9A9A9A;
      color: #fff;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      margin-left: -4px;
      text-align: center;
      width: 60px;
    }
    div:nth-of-type(n+4) {
      height: 50px;
      background: #1C1C1C;
      margin: 0 4px 0 0;
      vertical-align: middle;
      width: 142px;
    }
  }

  .support {
    background: #666666;
    border: 1px solid #666;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 25px;
    line-height: 24px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 15px;
    transition: 0.2s ease-out;
    transition-property: background, color;
    width: 25px;
    &:hover {
      background: #fff;
      color: #666;
    }
  }

}
