body {
  font-family: 'Work Sans', arial, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.container {
  text-align: center;
}

.main-sample-holder {
  padding: 0;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
}


.hide {
  display: none;
}

.hero-unit {
    color: #000000;
    padding: 0px 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.nav {
  text-align: center;
}

.nav-tabs {
  border-bottom: none;
}

.navbar {
  margin-bottom: 0;
}

.navbar-text {
  margin-left: 15px;
}

.navbar-default {
  background: #fff;
  border: none;

  .navbar-nav > .active > a {
    background: none;
  }
  .navbar-nav > li > a {
    transition: opacity 0.5s;
  }
  .navbar-nav > li > a:hover {
    opacity: 0.5;
  }
}

.nav-stacked {
  padding-right: 0;
  &:first {
    margin-top: -20px;
  }
  li {
    background: #D8D8D8;
    border-radius: 2px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    height: 130px;
    margin: 4px 15px;
    overflow: hidden;
    width: 23.5%;

    .sample-name,
    .sample-info {
      text-align: center;
    }
    .sample-name {
      margin-top: 30px;
    }
  }
  .selected {
    background: #000;
    color: #fff;
  }
  li:nth-of-type(1) {
    margin-left: 0;
  }
  li:nth-of-type(4),
  li:nth-of-type(8),
  li:nth-of-type(12),
  li:nth-of-type(16) {
    margin-right: 0;
  }
}

.sample-bank {
  height: 0px;
  overflow: hidden;
  padding: 0;
  transition: height 0.5s;

  &.show-bank {
    height: 500px;
    overflow: auto;
    transition: height 0.5s;
  }
  h3 {
    text-align: center;
  }
  li {
    width: 11.1%;
    margin: 4px auto;
  }
}

.filepick,
.fp__btn {
  display: block !important;
}

.fp__overlay {
  z-index: 1051 !important;
}

.btn-submit {
    margin-right: 0;
    margin-left: auto;
    display: block;
}

.save-kit-button-holder,
.choose-kit-button-holder,
.bank-button-holder {
  padding: 0;
}

.bank-button-holder {
  transition: width 0.5s;
}

.btn-primary {
  background: #D8D8D8;
  border: none;
  border-radius: 2px;
  color: #000000;
  font-weight: 100;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  transition: color 0.5s, background 0.5s;
  width: 100%;
}

.btn-primary:hover {
    background: #AEAEAE;
    color: #fff;
}

.sample-button-holder {
  height: 57px;
  .btn-add-sample {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 0 0;
    padding: 0;
    width: 250px;
  }

  .sample-search {
    float: left;
    height: 40px;
    margin: 10px 7px 0 0;

  }
}

.kit-samples {
  li:nth-of-type(1) {
    margin-left: 15px;
  }
  .kit-name {
    display: block;
    text-align: center;
  }
}
