<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 main-sample-holder">
      <ul class="nav nav-tabs nav-stacked col-lg-8 col-lg-offset-2">
        <li class="sample" ng-repeat="thing in awesomeThings | limitTo: 16">
          <span class="sample-inner">
            <div class="sample-name">{{thing.name}}</div>
            <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
            <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
            <br><audio class="sample-player" crossorigin="anonymous" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
          </span>
          <select class="effects">
            <option value="gain" selected="selected">Gain</option>
            <option value="filter">Filter</option>
            <option value="loop">Looper</option>
            <option value="stretch">Stretch</option>
          </select>
          <input type="range" class="gain gain-{{thing.name}}" min="0" max="1" value="1" step="0.05">
          <input type="range" class="filter filter-{{thing.name}}" min="0" max="5000" value="2500">
          <input type="range" class="stretch stretch-{{thing.name}}" min="0.5" max="2" value="1" step="0.05">
          <input type="range" class="loop loop-{{thing.name}}" min="0" max="2000" value="500" step="100">
        </li>
      </ul>
    </div>

    <div class="col-lg-8 col-lg-offset-2 save-kit-button-holder">
      <button type="button" class="btn btn-primary btn-lg save-kit-button hide" data-toggle="modal" data-target="#saveKitModal">
        Save current kit
      </button>
    </div>
    <div class="col-lg-8 col-lg-offset-2 choose-kit-button-holder">
      <button type="button" class="btn btn-primary btn-lg choose-kit-button">
        Choose a kit <span class="hide btn-choose-kit-close">&times;</span>
      </button>
    </div>
    <div class="col-lg-12 kit-options">
      <div class="col-lg-12 kit-options-holder">
        <ul class="nav nav-tabs nav-stacked kit-samples" ng-repeat="kit in awesomeKits">
          <a href="#" class="kit-name">{{kit.name}}
            <!-- <button type="button" class="close" ng-click="deleteKit(kit)">&times;</button> -->
          </a>
          <li class="sample">
            <div class="sample-name">{{kit.sample1name}}</div>
            <div style="font-size: 8px;">{{kit.sample1info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample1url)}}" alt="{{kit.sample1url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample2name}}</div>
            <div style="font-size: 8px;">{{kit.sample2info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample2url)}}" alt="{{kit.sample2url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample3name}}</div>
            <div style="font-size: 8px;">{{kit.sample3info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample3url)}}" alt="{{kit.sample3url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample4name}}</div>
            <div style="font-size: 8px;">{{kit.sample4info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample4url)}}" alt="{{kit.sample4url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div  class="sample-name">{{kit.sample5name}}</div>
            <div style="font-size: 8px;">{{kit.sample5info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample5url)}}" alt="{{kit.sample5url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample6name}}</div>
            <div style="font-size: 8px;">{{kit.sample6info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample6url)}}" alt="{{kit.sample6url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample7name}}</div>
            <div style="font-size: 8px;">{{kit.sample7info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample7url)}}" alt="{{kit.sample7url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample8name}}</div>
            <div style="font-size: 8px;">{{kit.sample8info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample8url)}}" alt="{{kit.sample8url}}" class="sample-player">
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample9name}}</div>
            <div style="font-size: 8px;">{{kit.sample9info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample9url)}}" alt="{{kit.sample9url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample10name}}</div>
            <div style="font-size: 8px;">{{kit.sample10info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample10url)}}" alt="{{kit.sample10url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample11name}}</div>
            <div style="font-size: 8px;">{{kit.sample11info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample11url)}}" alt="{{kit.sample11url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample12name}}</div>
            <div style="font-size: 8px;">{{kit.sample12info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample12url)}}" alt="{{kit.sample12url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample13name}}</div>
            <div style="font-size: 8px;">{{kit.sample13info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample13url)}}" alt="{{kit.sample13url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample14name}}</div>
            <div style="font-size: 8px;">{{kit.sample14info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample14url)}}" alt="{{kit.sample14url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample15name}}</div>
            <div style="font-size: 8px;">{{kit.sample15info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample15url)}}" alt="{{kit.sample15url}}" class="sample-player"></audio>
          </li>
          <li class="sample">
            <div class="sample-name">{{kit.sample16name}}</div>
            <div style="font-size: 8px;">{{kit.sample16info}}</div>
            <br><audio crossorigin="anonymous" src="{{trustSrc(kit.sample16url)}}" alt="{{kit.sample16url}}" class="sample-player"></audio>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2 bank-button-holder">
      <button type="button" class="btn btn-primary btn-lg" id="btn-show-bank">
        Show Sample Bank
      </button>
      <button type="button" class="btn btn-primary btn-lg hide" id="btn-hide-bank">
        Hide Sample Bank <span class="btn-close-bank">&times;</span>
      </button>
      <div class="col-lg-12 sample-bank-buttons hide">
        <input ng-model="query" class="sample-search" placeholder="Search for a sample">
        <button type="button" class="btn btn-primary btn-lg btn-add-sample" data-toggle="modal" data-target="#addSampleModal">
          + Upload a New Sample
        </button>
      </div>
    </div>

    <div class="col-lg-12 sample-bank">
      <ul class="nav nav-tabs nav-stacked col-lg-12">
        <div class="category">
          <div class="category-title">Kick</div>
          <div class="sample-category">
            <li class="sample" ng-repeat="thing in awesomeThings | filter: query" ng-if="thing.info == 'Kick'" onclick="reply_click(this.innerHTML);">
              <div class="sample-name">{{thing.name}}</div>
              <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
              <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
              <br><audio crossorigin="anonymous" class="sample-player" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
            </li>
          </div>
        </div>
        <div class="category">
          <div class="category-title">Snare</div>
          <div class="sample-category">
            <li class="sample" ng-repeat="thing in awesomeThings | filter: query" ng-if="thing.info == 'Snare'" onclick="reply_click(this.innerHTML);">
              <div class="sample-name">{{thing.name}}</div>
              <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
              <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
              <br><audio crossorigin="anonymous" class="sample-player" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
            </li>
          </div>
        </div>
        <div class="category">
          <div class="category-title">Cymbal</div>
          <div class="sample-category">
            <li class="sample" ng-repeat="thing in awesomeThings | filter: query" ng-if="thing.info == 'Cymbal'" onclick="reply_click(this.innerHTML);">
              <div class="sample-name">{{thing.name}}</div>
              <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
              <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
              <br><audio crossorigin="anonymous" class="sample-player" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
            </li>
          </div>
        </div>
        <div class="category">
          <div class="category-title">Perc</div>
          <div class="sample-category">
            <li class="sample" ng-repeat="thing in awesomeThings | filter: query" ng-if="thing.info == 'Perc'" onclick="reply_click(this.innerHTML);">
              <div class="sample-name">{{thing.name}}</div>
              <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
              <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
              <br><audio crossorigin="anonymous" class="sample-player" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
            </li>
          </div>
        </div>
        <div class="category">
          <div class="category-title">Bass</div>
          <div class="sample-category">
            <li class="sample" ng-repeat="thing in awesomeThings | filter: query" ng-if="thing.info == 'Bass'" onclick="reply_click(this.innerHTML);">
              <div class="sample-name">{{thing.name}}</div>
              <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
              <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
              <br><audio crossorigin="anonymous" class="sample-player" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
            </li>
          </div>
        </div>
        <div class="category">
          <div class="category-title">Lead</div>
          <div class="sample-category">
            <li class="sample" ng-repeat="thing in awesomeThings | filter: query" ng-if="thing.info == 'Lead'" onclick="reply_click(this.innerHTML);">
              <div class="sample-name">{{thing.name}}</div>
              <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
              <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
              <br><audio crossorigin="anonymous" class="sample-player" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
            </li>
          </div>
        </div>
        <div class="category">
          <div class="category-title">Vocal</div>
          <div class="sample-category">
            <li class="sample" ng-repeat="thing in awesomeThings | filter: query" ng-if="thing.info == 'Vocal'" onclick="reply_click(this.innerHTML);">
              <div class="sample-name">{{thing.name}}</div>
              <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
              <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
              <br><audio crossorigin="anonymous" class="sample-player" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
            </li>
          </div>
        </div>
        <div class="category">
          <div class="category-title">FX</div>
          <div class="sample-category">
            <li class="sample" ng-repeat="thing in awesomeThings | filter: query" ng-if="thing.info == 'FX'" onclick="reply_click(this.innerHTML);">
              <div class="sample-name">{{thing.name}}</div>
              <!-- <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button> -->
              <div style="font-size: 8px;" class="sample-info">{{thing.info}}</div>
              <br><audio crossorigin="anonymous" class="sample-player" src="{{trustSrc(thing.url)}}" alt="{{thing.url}}"></audio>
            </li>
          </div>
        </div>
      </ul>
    </div>

  </div>
</div>

  <!-- Modal -->
      <div class="custom-modal hide" id="addSampleModal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addSampleLabel">Upload a new sample</h4>
        </div>
        <div class="modal-body">
          <form class="thing-form">
            <p class="input-group">
              <input type="text" class="form-control" placeholder="Sample Name" ng-model="newThing" onchange="addAuthor()">
              <select class="form-control" ng-model="newThingInfo">
                <option value="" disabled selected>Choose a Category</option>
                <option value="Kick">Kick</option>
                <option value="Snare">Snare</option>
                <option value="Cymbal">Cymbal</option>
                <option value="Perc">Perc</option>
                <option value="FX">FX</option>
                <option value="Vocal">Vocal</option>
                <option value="Bass">Bass</option>
                <option value="Lead">Lead</option>
              </select>
              <input type="text" class="form-control src" placeholder="Sample URL" ng-model="newThingUrl">
              <input type="text" class="form-control author" placeholder="{{ getCurrentUser().name }}" ng-model="newThingAuthor" disabled><br>
              <!-- The Upload Form -->
              <div class="col-md-12 file-uploader">
                <input class="bottom-marg-15" type="file" name="file" file></input>
                <!-- Progress Bar -->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                    {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                  </div>
                </div>
                <a class="btn btn-primary btn-block btn-lg sample-upload-button" ng-click="upload()" onclick="setTimeout(function(){addURL(fileURL)},2000);">Upload</a>
                <span class="copyright-warning">** Uploading of copyrighted samples is prohibited **</span>
              </div>
            </div>
          </p>
        </form>
      </div>
    </div>


<!-- Modal -->
    <div class="custom-modal hide" id="saveKitModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="saveKitLabel">Save Current Kit</h4>
      </div>
      <div class="modal-body">
        <form class="kit-form">
          <p class="input-group kit-inputs">
            <input type="text" class="form-control kit-name-input" placeholder="Kit Name" ng-model="newKit">
            <input type="text" class="form-control kit-author-input" ng-model="newKitAuthor" disabled>
            <input type="text" class="form-control sample-1-name save-kit-input" placeholder="New Kit Sample 1 Name" ng-model="newKitSample1Name">
            <input type="text" class="form-control sample-1-info save-kit-input" placeholder="New Kit Sample 1 Info" ng-model="newKitSample1Info">
            <input type="text" class="form-control sample-1-url save-kit-input" placeholder="New Kit Sample 1 URL" ng-model="newKitSample1Url">
            <input type="text" class="form-control sample-2-name save-kit-input" placeholder="New Kit Sample 2 Name" ng-model="newKitSample2Name">
            <input type="text" class="form-control sample-2-info save-kit-input" placeholder="New Kit Sample 2 Info" ng-model="newKitSample2Info">
            <input type="text" class="form-control sample-2-url save-kit-input" placeholder="New Kit Sample 2 URL" ng-model="newKitSample2Url">
            <input type="text" class="form-control sample-3-name save-kit-input" placeholder="New Kit Sample 3 Name" ng-model="newKitSample3Name">
            <input type="text" class="form-control sample-3-info save-kit-input" placeholder="New Kit Sample 3 Info" ng-model="newKitSample3Info">
            <input type="text" class="form-control sample-3-url save-kit-input" placeholder="New Kit Sample 3 URL" ng-model="newKitSample3Url">
            <input type="text" class="form-control sample-4-name save-kit-input" placeholder="New Kit Sample 4 Name" ng-model="newKitSample4Name">
            <input type="text" class="form-control sample-4-info save-kit-input" placeholder="New Kit Sample 4 Info" ng-model="newKitSample4Info">
            <input type="text" class="form-control sample-4-url save-kit-input" placeholder="New Kit Sample 4 URL" ng-model="newKitSample4Url">
            <input type="text" class="form-control sample-5-name save-kit-input" placeholder="New Kit Sample 5 Name" ng-model="newKitSample5Name">
            <input type="text" class="form-control sample-5-info save-kit-input" placeholder="New Kit Sample 5 Info" ng-model="newKitSample5Info">
            <input type="text" class="form-control sample-5-url save-kit-input" placeholder="New Kit Sample 5 URL" ng-model="newKitSample5Url">
            <input type="text" class="form-control sample-6-name save-kit-input" placeholder="New Kit Sample 6 Name" ng-model="newKitSample6Name">
            <input type="text" class="form-control sample-6-info save-kit-input" placeholder="New Kit Sample 6 Info" ng-model="newKitSample6Info">
            <input type="text" class="form-control sample-6-url save-kit-input" placeholder="New Kit Sample 6 URL" ng-model="newKitSample6Url">
            <input type="text" class="form-control sample-7-name save-kit-input" placeholder="New Kit Sample 7 Name" ng-model="newKitSample7Name">
            <input type="text" class="form-control sample-7-info save-kit-input" placeholder="New Kit Sample 7 Info" ng-model="newKitSample7Info">
            <input type="text" class="form-control sample-7-url save-kit-input" placeholder="New Kit Sample 7 URL" ng-model="newKitSample7Url">
            <input type="text" class="form-control sample-8-name save-kit-input" placeholder="New Kit Sample 8 Name" ng-model="newKitSample8Name">
            <input type="text" class="form-control sample-8-info save-kit-input" placeholder="New Kit Sample 8 Info" ng-model="newKitSample8Info">
            <input type="text" class="form-control sample-8-url save-kit-input" placeholder="New Kit Sample 8 URL" ng-model="newKitSample8Url">
            <input type="text" class="form-control sample-9-name save-kit-input" placeholder="New Kit Sample 9 Name" ng-model="newKitSample9Name">
            <input type="text" class="form-control sample-9-info save-kit-input" placeholder="New Kit Sample 9 Info" ng-model="newKitSample9Info">
            <input type="text" class="form-control sample-9-url save-kit-input" placeholder="New Kit Sample 9 URL" ng-model="newKitSample9Url">
            <input type="text" class="form-control sample-10-name save-kit-input" placeholder="New Kit Sample 10 Name" ng-model="newKitSample10Name">
            <input type="text" class="form-control sample-10-info save-kit-input" placeholder="New Kit Sample 10 Info" ng-model="newKitSample10Info">
            <input type="text" class="form-control sample-10-url save-kit-input" placeholder="New Kit Sample 10 URL" ng-model="newKitSample10Url">
            <input type="text" class="form-control sample-11-name save-kit-input" placeholder="New Kit Sample 11 Name" ng-model="newKitSample11Name">
            <input type="text" class="form-control sample-11-info save-kit-input" placeholder="New Kit Sample 11 Info" ng-model="newKitSample11Info">
            <input type="text" class="form-control sample-11-url save-kit-input" placeholder="New Kit Sample 11 URL" ng-model="newKitSample11Url">
            <input type="text" class="form-control sample-12-name save-kit-input" placeholder="New Kit Sample 12 Name" ng-model="newKitSample12Name">
            <input type="text" class="form-control sample-12-info save-kit-input" placeholder="New Kit Sample 12 Info" ng-model="newKitSample12Info">
            <input type="text" class="form-control sample-12-url save-kit-input" placeholder="New Kit Sample 12 URL" ng-model="newKitSample12Url">
            <input type="text" class="form-control sample-13-name save-kit-input" placeholder="New Kit Sample 13 Name" ng-model="newKitSample13Name">
            <input type="text" class="form-control sample-13-info save-kit-input" placeholder="New Kit Sample 13 Info" ng-model="newKitSample13Info">
            <input type="text" class="form-control sample-13-url save-kit-input" placeholder="New Kit Sample 13 URL" ng-model="newKitSample13Url">
            <input type="text" class="form-control sample-14-name save-kit-input" placeholder="New Kit Sample 14 Name" ng-model="newKitSample14Name">
            <input type="text" class="form-control sample-14-info save-kit-input" placeholder="New Kit Sample 14 Info" ng-model="newKitSample14Info">
            <input type="text" class="form-control sample-14-url save-kit-input" placeholder="New Kit Sample 14 URL" ng-model="newKitSample14Url">
            <input type="text" class="form-control sample-15-name save-kit-input" placeholder="New Kit Sample 15 Name" ng-model="newKitSample15Name">
            <input type="text" class="form-control sample-15-info save-kit-input" placeholder="New Kit Sample 15 Info" ng-model="newKitSample15Info">
            <input type="text" class="form-control sample-15-url save-kit-input" placeholder="New Kit Sample 15 URL" ng-model="newKitSample15Url">
            <input type="text" class="form-control sample-16-name save-kit-input" placeholder="New Kit Sample 16 Name" ng-model="newKitSample16Name">
            <input type="text" class="form-control sample-16-info save-kit-input" placeholder="New Kit Sample 16 Info" ng-model="newKitSample16Info">
            <input type="text" class="form-control sample-16-url save-kit-input" placeholder="New Kit Sample 16 URL" ng-model="newKitSample16Url">
            <button type="submit" class="btn btn-primary add-kit btn-submit" data-dismiss="modal" ng-click="addKit()">Save Kit</button>
          </p>
        </form>
      </div>
    </div>

<footer class="footer">
  <div class="metronome">
    <div class="start-met">
      <img src="../../assets/images/metronome.png" alt="metronome" class="met-image">
    </div>
    <div class="met-bpm hidden">
      <input class="met" type="number" name="bpm" value="60" size="3" /> <span>bpm</span>
    </div>
  </div>
  <div class="recording">
    <div class="record">record</div>
    <div class="stop">stop</div>
    <div class="record-time">0 s</div>
  </div>
  <div class="support">?</div>
</footer>
<script>

// allow for effects switching using dropdowns
setTimeout(function(){
  var effects = document.querySelectorAll('.effects');
  for (var e = 0; e < 16; e++) {
    var element = effects[e];
    element.addEventListener('change', changeEffects);
  }

  function changeEffects(e, index) {
    if (this.value == 'gain') {
      this.parentNode.querySelector('.gain').style.display = 'block';
      this.parentNode.querySelector('.filter').style.display = 'none';
      this.parentNode.querySelector('.loop').style.display = 'none';
      this.parentNode.querySelector('.stretch').style.display = 'none';
    } else if (this.value == 'filter') {
      this.parentNode.querySelector('.gain').style.display = 'none';
      this.parentNode.querySelector('.filter').style.display = 'block';
      this.parentNode.querySelector('.loop').style.display = 'none';
      this.parentNode.querySelector('.stretch').style.display = 'none';
    } else if (this.value == 'loop') {
      this.parentNode.querySelector('.gain').style.display = 'none';
      this.parentNode.querySelector('.filter').style.display = 'none';
      this.parentNode.querySelector('.loop').style.display = 'block';
      this.parentNode.querySelector('.stretch').style.display = 'none';
    } else if (this.value == 'stretch') {
      this.parentNode.querySelector('.gain').style.display = 'none';
      this.parentNode.querySelector('.filter').style.display = 'none';
      this.parentNode.querySelector('.loop').style.display = 'none';
      this.parentNode.querySelector('.stretch').style.display = 'block';
    }
  }

}, 1000);


// this is for looping effect
var interval = [];
var loopOn = [];

for (var o = 0; o<16; o++) {
  loopOn.push(true);
}

function loopIt(i) {
  if (loopOn[i] === true) {
    interval[i] = setInterval(function () {
      myAudio[i].pause();
      myAudio[i].currentTime = 0;
      myAudio[i].play();
    }, document.querySelectorAll('.loop')[i].value);
    loopOn[i] = false;
  } else {
    clearInterval(interval[i]);
    loopOn[i] = true;
  }
}

function clearLoop(i) {
  clearInterval(interval[i]);
}

var loops = []
setTimeout (function(){
  for (var l = 0; l < document.querySelectorAll('.loop').length; l++) {
    loops.push(document.querySelectorAll('.loop')[l]);
  }
}, 1000);

// sample looping functionality
$('body').on('click', '.loop', function(){
  loopIt(loops.indexOf(this));
});
$('body').on('input', '.loop', function(){
  clearLoop(loops.indexOf(this));
});

var displayTime;
var recordTime = 0;

// start recording
$('.record').on('click', function() {
  startUserMedia();
  startRecording();
  $(this).addClass('record-on');
  recordTime = 0;
  displayTime = setInterval(function () {
    recordTime += 0.1;
    $('.record-time').text((Math.round(recordTime * 10) /10) + ' s');
  }, 100);
});

// stop recording
$('.stop').on('click', function() {
  stopRecording();
  $('.record').removeClass('record-on');
  clearInterval(displayTime);
});


// recorderjs logi
var recorder;

function startUserMedia() {
  var input = recordNode;
  recorder = new Recorder(input);
}

function startRecording() {
  recorder && recorder.record();
}

function stopRecording() {
  recorder && recorder.stop();

    // create WAV download link using audio data blob
    createDownloadLink();

    recorder.clear();
  }

  function createDownloadLink() {
    recorder && recorder.exportWAV(function(blob) {
      var url = URL.createObjectURL(blob);
      var div = document.createElement('div');
      var au = document.createElement('audio');
      var hf = document.createElement('a');

      au.controls = true;
      au.src = url;
      hf.href = url;
      hf.download = new Date().toISOString() + '.wav';
      hf.innerHTML = "Download";
      div.appendChild(au);
      div.appendChild(hf);
      document.getElementsByClassName('recording')[0].appendChild(div);
    });
  }

  var audioCtx,
  myAudio,
  source,
  recordNode,
  filterNodes,
  delayNodes;

  source = [];
  function setSources() {
      source = [
      audioCtx.createMediaElementSource(myAudio[0]),
      audioCtx.createMediaElementSource(myAudio[1]),
      audioCtx.createMediaElementSource(myAudio[2]),
      audioCtx.createMediaElementSource(myAudio[3]),
      audioCtx.createMediaElementSource(myAudio[4]),
      audioCtx.createMediaElementSource(myAudio[5]),
      audioCtx.createMediaElementSource(myAudio[6]),
      audioCtx.createMediaElementSource(myAudio[7]),
      audioCtx.createMediaElementSource(myAudio[8]),
      audioCtx.createMediaElementSource(myAudio[9]),
      audioCtx.createMediaElementSource(myAudio[10]),
      audioCtx.createMediaElementSource(myAudio[11]),
      audioCtx.createMediaElementSource(myAudio[12]),
      audioCtx.createMediaElementSource(myAudio[13]),
      audioCtx.createMediaElementSource(myAudio[14]),
      audioCtx.createMediaElementSource(myAudio[15])
      ];
    }

  function setSingleSource(n) {
    source[n] = audioCtx.createMediaElementSource(myAudio[n]);
  }

  filterNodes = [];

  var filters = [];

  function setFilterNodes() {
    for (var f = 0; f<16; f++) {
      filterNodes.push(audioCtx.createBiquadFilter());
    }
  }

  function setFilterValues() {
    for (var n=0;n<16;n++) {
      filters.push(document.querySelectorAll('.filter')[n]);
      filterNodes[n].frequency.value = $(filters[n]).val();
      filterNodes[n].type = "bandpass";
      filterNodes[n].Q.value = 1;
    }
  }

  function setDestinations() {
    // connect the AudioBufferSourceNode to the gainNode
    // and the gainNode to the destination, so we can play the
    // music and adjust the volume using the mouse cursor
    for (var d = 0; d<16; d++) {
      source[d].connect(filterNodes[d]).connect(recordNode).connect(audioCtx.destination);
    }
  }

  function setRecordNode() {
    recordNode = audioCtx.createGain();
  }

  function setAudio() {
    myAudio = document.querySelectorAll('audio');
  }


  var gains = [];

  function setGainValues() {
    for (var n=0;n<16;n++) {
      gains.push(document.querySelectorAll('.gain')[n]);
    }
  }

  var stretches = [];

  function setRateValues() {
    for (var n=0;n<16;n++) {
      stretches.push(document.querySelectorAll('.stretch')[n]);
    }
  }

// Web audio api stuff starts here
setTimeout(function () {
  audioCtx = new (window.AudioContext || window.webkitAudioContext)();

  // collect audio elements
  setAudio();

  // set audioe elements as media sources
  setSources();

  // Set volume for all sources
  setGainValues();

  $('.gain').on('input', function() {
    $('.sample-player')[gains.indexOf(this)].volume = $(gains[gains.indexOf(this)]).val();
  });

  // set filter for all sources
  setFilterNodes();

  setFilterValues();

  $('.filter').on('input', function() {
    filterNodes[filters.indexOf(this)].frequency.value = $(filters[filters.indexOf(this)]).val();
  });

  // set playback rate
  setRateValues();

  $('.stretch').on('input', function() {
    $('.sample-player')[stretches.indexOf(this)].playbackRate = $(stretches[stretches.indexOf(this)]).val();
  });

  // set record for all sources
  setRecordNode();

  // set destination for all sources
  setDestinations();


  // Add missing functions to make the oscillator compatible with the later standard.
  function fixOscillator(osc) {
    if (typeof osc.start == 'undefined') {
      osc.start = function(when) {
        osc.noteOn(when);
      }
    }
    if (typeof osc.stop == 'undefined') {
      osc.stop = function(when) {
        osc.noteOff(when);
      }
    }
  }

  // metronome
  var oscillator;
  var amp;

  // Create an AudioCOntext and a JavaScriptNode.
  function initAudio() {
    if( audioCtx ) {
      oscillator = audioCtx.createOscillator();
      fixOscillator(oscillator);
      oscillator.frequency.value = 440;
      amp = audioCtx.createGain();
      amp.gain.value = 0;

      // Connect ooscillator to amp and amp to the mixer of the context.
      // This is like connecting cables between jacks on a modular synth.
      oscillator.connect(amp);
      amp.connect(audioCtx.destination);
      oscillator.start(0);
    }
  }

  // Set the frequency of the oscillator and start it running.
  function startTone( frequency ) {
    var now = audioCtx.currentTime;

    oscillator.frequency.setValueAtTime(frequency, now);

    // Ramp up the gain so we can hear the sound.
    // We can ramp smoothly to the desired value.
    // First we should cancel any previous scheduled events that might interfere.
    amp.gain.cancelScheduledValues(now);
    // Anchor beginning of ramp at current value.
    amp.gain.setValueAtTime(amp.gain.value, now);
    amp.gain.linearRampToValueAtTime(0.5, audioCtx.currentTime + 0.01);
    amp.gain.linearRampToValueAtTime(0.0, audioCtx.currentTime + 0.11);
  }

  // init once the page has finished loading.
  initAudio();
  var $x = 1000;
  var $newbpm = 60;
  var $t;

  function beep() {
    startTone(400);
  }

  var metOn = false;
  $('.start-met').click(function() {
    if (metOn === false) {
      clearInterval($t);
      $newbpm = 1000/$('.met').val()*60;
      $t = setInterval(beep,$newbpm);
      metOn = true;
      $('.met-bpm').removeClass('hidden');
      $('.met-image').attr('src','../../assets/images/metronome-on.png');
    } else if (metOn === true ) {
      clearInterval($t);
      metOn = false;
      $('.met-bpm').addClass('hidden');
      $('.met-image').attr('src', '../../assets/images/metronome.png');
    }
  });

  $('.met').on('input', function(){
    clearInterval($t);
    $newbpm = 1000/$('.met').val()*60;
    $t = setInterval(beep,$newbpm);
  });
}, 1000);


// show choose kit
$('.choose-kit-button').on('click', function() {
  $('.btn-choose-kit-close').toggleClass('hide');
  $('.kit-options').toggleClass('kit-options-open');
  $(this).parent().toggleClass('col-lg-8 col-lg-offset-2 col-lg-12');
});

// switch kits
$('body').on('click', '.kit-samples', function(){
  newSamps = [];
  oldSamps = [];
  newSamps.push($(this).find('li'));
  oldSamps.push($('.main-sample-holder .sample-inner'));
  for (var i = 0; i < 16; i++) {
    oldSamps[0][i].innerHTML = newSamps[0][i].innerHTML;
  }
  $('.choose-kit-button-holder').toggleClass('col-lg-8 col-lg-offset-2 col-lg-12');
  $('.kit-options').toggleClass('kit-options-open');
  $('.btn-choose-kit-close').toggleClass('hide');
  setAudio();
  setSources();
  setFilterNodes();
  setRecordNode();
  setDestinations();
  setFilterValues();
  setGainValues();
  setRateValues();
});

// show sample bank
$('#btn-show-bank').on('click', function(){
  $(this).addClass('hide');
  $(this).parent().removeClass('col-lg-8');
  $(this).parent().removeClass('col-lg-offset-2');
  $(this).parent().addClass('col-lg-12');
  $('#btn-hide-bank, .sample-bank-buttons').removeClass('hide');
  $('.sample-bank').addClass('show-bank');
});

// hide sample bank
$('#btn-hide-bank').on('click', function(){
  $(this).addClass('hide');
  $('.sample-bank-buttons').addClass('hide');
  $(this).parent().removeClass('col-lg-12');
  $(this).parent().addClass('col-lg-8');
  $(this).parent().addClass('col-lg-offset-2');
  $('#btn-show-bank').removeClass('hide');
  $('.sample-bank').removeClass('show-bank');
});

$('.btn-add-sample').click(function(){
  $('#addSampleModal').removeClass('hide');
  keysActive = false;
});

// upload sample
$('.sample-upload-button').click(function(){
  setTimeout(function(){
    $('.form-control.src').attr('value', fileURL);
    $('.form-control.src').trigger('input');
    $('#addSampleModal').addClass('hide');
  }, 2000);
});

$('.add-kit').click(function(){
  $('#saveKitModal').addClass('hide');
});

$('.close').click(function() {
  $('.custom-modal').addClass('hide');
  keysActive = true;
});

var samplenames = [],
sampleinfos = [],
sampleurls = [];
$('.save-kit-button').click(function(){
  $('#saveKitModal').removeClass('hide');
  $('.sample-name').each(function(){
    samplenames.push($(this).text());
  });
  $('.sample-info').each(function(){
    sampleinfos.push($(this).text());
  });
  $('.sample-player').each(function(){
    sampleurls.push($(this).attr('src'));
  });

  // save sample names in new kit inputs
  $('.kit-author-input').attr('value', thisAuthor).trigger('input');
  $('.sample-1-name').attr('value', samplenames[0]).trigger('input');
  $('.sample-2-name').attr('value', samplenames[1]).trigger('input');
  $('.sample-3-name').attr('value', samplenames[2]).trigger('input');
  $('.sample-4-name').attr('value', samplenames[3]).trigger('input');
  $('.sample-5-name').attr('value', samplenames[4]).trigger('input');
  $('.sample-6-name').attr('value', samplenames[5]).trigger('input');
  $('.sample-7-name').attr('value', samplenames[6]).trigger('input');
  $('.sample-8-name').attr('value', samplenames[7]).trigger('input');
  $('.sample-9-name').attr('value', samplenames[8]).trigger('input');
  $('.sample-10-name').attr('value', samplenames[9]).trigger('input');
  $('.sample-11-name').attr('value', samplenames[10]).trigger('input');
  $('.sample-12-name').attr('value', samplenames[11]).trigger('input');
  $('.sample-13-name').attr('value', samplenames[12]).trigger('input');
  $('.sample-14-name').attr('value', samplenames[13]).trigger('input');
  $('.sample-15-name').attr('value', samplenames[14]).trigger('input');
  $('.sample-16-name').attr('value', samplenames[15]).trigger('input');

  $('.sample-1-info').attr('value', sampleinfos[0]).trigger('input');
  $('.sample-2-info').attr('value', sampleinfos[1]).trigger('input');
  $('.sample-3-info').attr('value', sampleinfos[2]).trigger('input');
  $('.sample-4-info').attr('value', sampleinfos[3]).trigger('input');
  $('.sample-5-info').attr('value', sampleinfos[4]).trigger('input');
  $('.sample-6-info').attr('value', sampleinfos[5]).trigger('input');
  $('.sample-7-info').attr('value', sampleinfos[6]).trigger('input');
  $('.sample-8-info').attr('value', sampleinfos[7]).trigger('input');
  $('.sample-9-info').attr('value', sampleinfos[8]).trigger('input');
  $('.sample-10-info').attr('value', sampleinfos[9]).trigger('input');
  $('.sample-11-info').attr('value', sampleinfos[10]).trigger('input');
  $('.sample-12-info').attr('value', sampleinfos[11]).trigger('input');
  $('.sample-13-info').attr('value', sampleinfos[12]).trigger('input');
  $('.sample-14-info').attr('value', sampleinfos[13]).trigger('input');
  $('.sample-15-info').attr('value', sampleinfos[14]).trigger('input');
  $('.sample-16-info').attr('value', sampleinfos[15]).trigger('input');

  $('.sample-1-url').attr('value', sampleurls[0]).trigger('input');
  $('.sample-2-url').attr('value', sampleurls[1]).trigger('input');
  $('.sample-3-url').attr('value', sampleurls[2]).trigger('input');
  $('.sample-4-url').attr('value', sampleurls[3]).trigger('input');
  $('.sample-5-url').attr('value', sampleurls[4]).trigger('input');
  $('.sample-6-url').attr('value', sampleurls[5]).trigger('input');
  $('.sample-7-url').attr('value', sampleurls[6]).trigger('input');
  $('.sample-8-url').attr('value', sampleurls[7]).trigger('input');
  $('.sample-9-url').attr('value', sampleurls[8]).trigger('input');
  $('.sample-10-url').attr('value', sampleurls[9]).trigger('input');
  $('.sample-11-url').attr('value', sampleurls[10]).trigger('input');
  $('.sample-12-url').attr('value', sampleurls[11]).trigger('input');
  $('.sample-13-url').attr('value', sampleurls[12]).trigger('input');
  $('.sample-14-url').attr('value', sampleurls[13]).trigger('input');
  $('.sample-15-url').attr('value', sampleurls[14]).trigger('input');
  $('.sample-16-url').attr('value', sampleurls[15]).trigger('input');

  keysActive = false;
});

// this function grabs the new sample you want to load
function reply_click(clicked_id)
{
  newSample = (clicked_id);
}

// this sample loads the new sample and plays it
$('.main-sample-holder').on('click', 'li', function(){
  if (typeof(newSample) !== 'undefined' && newSample !== '') {
    $(this).find('.sample-inner').html(newSample);
    newSample = '';
    $('.save-kit-button').removeClass('hide');
    setAudio();
    setSingleSource($(this).index());
    setFilterNodes();
    setFilterValues();
    setGainValues();
    setRateValues();
    setRecordNode();
    setDestinations();
    $(this).find('.sample-player')[0].pause();
    $(this).find('.sample-player')[0].currentTime = 0;
    $(this).find('.sample-player')[0].play();
  }
});

// play samples on click
$('body').on('mousedown touchstart','.sample', function(){
  $(this).find('.sample-player')[0].pause();
  $(this).find('.sample-player')[0].currentTime = 0;
  $(this).find('.sample-player')[0].play();
  $(this).addClass('selected');
  var me = this;
  setTimeout(function(){
    $(me).removeClass('selected');
  }, 100);
});

$(function() {
    FastClick.attach(document.body);
});

</script>
